html, body {
  margin: 0px;
  font: 13px sans-serif;
  height: 100%;
}

a {
  color: #444;
}

a:hover {
  background-color: #c0e8ff;
}

#banner {
  background-color: #007fce;
  color: white;
}

#banner h1 {
  font-size: 20px;
  padding: 32px 16px 16px 16px;
}

#content {
  width: 640px;
  height: 100%;
  margin: 0px auto;
}

article {
  padding: 16px;
}

article header span {
  color: gray;
}

article header a {
  text-decoration: none
}

article header a:hover {
  color: #007fce
}

h1 {
  font-size: 16px;
  margin-bottom: 4px;
}

h2 {
  font-size: 13px;
}

pre { background-color: #fafafa; }

pre .e { color: hsl(  0, 100%, 70%); } /* Error */
pre .c { color: hsl(220,  20%, 65%); } /* Comment */
pre .i { color: hsl(220,  20%, 20%); } /* Identifier */
pre .k { color: hsl(220, 100%, 50%); } /* Keyword */
pre .p { color: hsl(220,  20%, 50%); } /* Punctuation */
pre .o { color: hsl(220,  40%, 50%); } /* Operator */
pre .s { color: hsl( 40,  90%, 40%); } /* String */
pre .n { color: hsl( 30,  70%, 50%); } /* Number */
pre .t { color: hsl(180,  40%, 40%); } /* Type Name */
pre .r { color: hsl(200, 100%, 50%); } /* Special Identifier */
pre .a { color: hsl(220, 100%, 45%); } /* Arrow */
